body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
    position: relative;
}

.sidebar {
    width: 190px; 
    background-color: #0056b3;
    color: white;
    padding: 20px 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar hr {
    border: none;
    height: 1px;
    background-color: lightgrey;
    width: calc(100% + 30px); 
    margin: 10px -15px; 
    display: block;
    opacity: 1;
}


.sidebar h2 {
    text-align: center; 
    font-size: 24px; 
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.sidebar h2 .kynap {
    color: white; 
}

.sidebar h2 .ai {
    color: #ffcc00; 
}



.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; 
}

.sidebar ul li.active {
    background-color: #ffcc00; 
    color: black;
    border-radius: 5px;
    position: relative;
}



/* Linea amarilla justo al lado del hover del boton*/


.sidebar ul li.active::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #ffcc00;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.sidebar ul li.active .icon {
    filter: brightness(0); 
}


.sidebar ul li {
    position: relative;
    padding-left: 20px; 
    padding: 12px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.sidebar ul li .icon {
    width: 20px; 
    height: 20px;
    flex-shrink: 0; 
    display: inline-block;
    filter: brightness(0) invert(1); 
    transition: filter 0.3s ease-in-out;
}

.sidebar ul li:hover .icon {
    filter: brightness(0); 
}



.sidebar ul li:hover::before {
    content: "";
    position: absolute;
    left: -15px; 
    top: 0;
    height: 100%;
    width: 5px; 
    background-color: #ffcc00; 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}



.sidebar ul li:hover {
    background-color: #ffcc00;
    color: black;
    border-radius: 5px;
}


/*cerrar sesion el boton*/

.logout-item {
    display: flex;
    align-items: center; 
    padding: 12px 15px;
    cursor: pointer;
}

.logout-item .logout-link {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    font-size: 16px; 
}

.logout-item .logout-link .icon {
    margin-right: 12px; 
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); 
}

.logout-item:hover {
    background-color: #ffcc00;
    color: black;
    border-radius: 5px;
}

.logout-item:hover .icon {
    filter: brightness(0); 
}






.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

header input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.dashboard h1 {
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.card .value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.chart-container h2 {
    text-align: left;
    margin-left: 20px; 
}

.chart-container {
    width: 1500px;  
    height: 450px; 
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

canvas {
    width: 100% !important;
    height: 100% !important; 
}

.record-text {
    text-align: center;
    color: #00cc66;
    font-weight: bold;
    margin-top: 10px;
}
